*{
    margin: 0;
    padding: 0;
}
.text1{
    display: flex;
    justify-content: center;
}
.text2{
    justify-content: center;
    display: flex;
}
.igm1{
    display: flex;
    justify-content: center;
}
.text3{
    display: flex;
    justify-content: center;
}
.text4{
    display: flex;
    justify-content: space-around;
    
}
.btn1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.btn2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.text5{
    display: flex;
    justify-content: center; 
}
.btn4{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 30px;
}
.serial a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.btn3{
    color: rgb(0, 0, 0);
}
.text7{
    display: flex;
    justify-content: center; 
}
.text11{
    display: flex;
    justify-content: space-around;
}
.text8 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.igm3{
    display: flex;
}
.igm4{
    display: flex;
}
.text10{
    display: flex;
    justify-content: space-around;
}
.igm7{
    justify-content: center;
    display: flex;
}
.igm1{
    border-radius: 40px;
    justify-content: space-around;
}
.a:hover{
    box-shadow: 0 0 8px 3px rgba(178, 111, 222, 0.804);
}
.a img:hover{
    transition: 0.55s;
    transform: scale(0.95);
}
.a{
    background-color: rgb(226, 222, 229);
}
.text3 h1:hover{
    color: rgb(197, 91, 249);
 }
 .text3 h1:hover{
     transition: 0.75s;
     transform: scale(0.95);
 }
 .text1 h3:hover{
    color: rgb(76, 4, 112);
 }
 .text1 h3:hover{
     transition: 0.75s;
     transform: scale(0.95);
 }
.btn a:hover{
    color: rgb(59, 5, 86);
 }
 .btn{
    height: 100px;
    width: 500px;
    background-color: rgb(167 139 250);
    justify-content: center;
    display: flex;
    padding-top: 25px;
    border-radius: 25px;
 }
.k{
    margin-top: 110px;
    font-size: 20px;
   
}
.btn1 div:hover{
    transition: 0.75s;
    transform: scale(0.95);
}
.btn2 div:hover{
    transition: 0.75s;
    transform: scale(0.95);
}
.btn:hover{
    box-shadow: 0 0 8px 3px rgba(178, 111, 222, 0.804);
}
.text5 h2:hover{
    color: rgb(197, 91, 249);
 }
 .text5 h2:hover{
     transition: 0.75s;
     transform: scale(0.95);
 }
 .text7 h1:hover{
    color: rgb(197, 91, 249);
 }
 .text7 h1:hover{
     transition: 0.75s;
     transform: scale(0.95);
 }
 .btn4 a:hover{
    color: rgb(197, 91, 249);
 }
.serial a:hover{
     transition: 0.75s;
     transform: scale(0.95);
 }
.btn5 a:hover{
    color: rgb(70, 13, 98);
}
.btn5 a:hover{
    
    transition: 0.65s;
     transform: scale(0.90);
}
.btn6 a:hover{
    color: rgb(70, 13, 98);
    
}
.btn6 a:hover{
    transition: 0.65s;
    transform: scale(0.90);
}
#map {
    height: 250px; 
   
   
    display: inline-block;
    width: 30%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    
 }
 .d{
    position: absolute;
    display: inline-block;  
    margin-left: 140px;
    margin-top: 20px;

 }
 .h{
    position: absolute;
    display: inline-block;  
    margin-left: 1420px;
    width: 250px;

 }
 .g{
    text-align: center;
    
 }
