.dua img{
    width: 710px;
    border-radius: 15px;
}
.gas{
    gap: 250px;
}

.fff{
    background-image: url(https://i.ytimg.com/vi/9QhGZi113xg/maxresdefault.jpg);
    background-blend-mode: multiply;
    
    background-color: rgb(50 65 76 / var(--tw-bg-opacity, 1)) /* #374151 */;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}
.fds{
    padding-top: 30px;
    padding-bottom: 300px;
}
.fr{
   padding-top: 200px;
   text-align: center;
   font-weight: 700;
   letter-spacing: -0.025em;
   --tw-text-opacity: 1;
   color: rgb(255 255 255 / var(--tw-text-opacity, 1)) /* #ffffff */;

   
}


@media (min-width: 768px) {
    .md\:text-5xl {
        font-size: 3rem /* 48px */;
        line-height: 1;
    }
}

@media (min-width: 1024px) {
    .lg\:text-6xl {
        font-size: 3.75rem /* 60px */;
        line-height: 1;
    }
}
.def{
    margin-top: 20px;
}
.fert{
    gap: 30px;
}
.fq{
    margin-top: 15px;
letter-spacing: 3px;
}
.few{
    gap: 20px;
}
.der{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.der{
    gap: 190px;

}
.dsw{
    font-weight: 600;
}